*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1500px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.box{
    padding:  50px;
    max-width: 33%;
    margin-top: 250px;
}

.box article{
    display: flex;
    flex-direction: column;
}

article h1{
    text-align: center;
    margin-bottom: 10px;
}

article p{
    text-align: center;
}

 nav i{
    margin-bottom: 20px;
    margin-left: 50%;
} 

